<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_fitness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".IMC"
            android:label="@string/title_activity_imc" >
        </activity>
        <activity
            android:name=".Direction1"
            android:label="@string/title_activity_direction1" >
        </activity>
        <activity
            android:name=".Direction2"
            android:label="@string/title_activity_direction2" >
        </activity>
        <activity
            android:name=".Direction3"
            android:label="@string/title_activity_direction3" >
        </activity>
        <activity
            android:name=".Exercice"
            android:label="@string/title_activity_exercice" >
        </activity>
        <activity
            android:name=".Regime"
            android:label="@string/title_activity_regime" >
        </activity>
        <activity
            android:name=".Inscrire"
            android:label="@string/title_activity_inscrire" >
        </activity>
        <activity
            android:name=".GestionAdmin"
            android:label="@string/title_activity_gestion_client" >
        </activity>
        <activity
            android:name=".Exercicem"
            android:label="@string/title_activity_exercicem" >
        </activity>
        <activity
            android:name=".Regimm"
            android:label="@string/title_activity_regimm" >
        </activity>
        <activity
            android:name=".Exercicet"
            android:label="@string/title_activity_exercicet" >
        </activity>
        <activity
            android:name=".Regimt"
            android:label="@string/title_activity_regimt" >
        </activity>
        <activity
            android:name=".Coach"
            android:label="@string/title_activity_coach" >
        </activity>
        <activity
            android:name=".Lundi"
            android:label="@string/title_activity_lundi" >
        </activity>
        <activity
            android:name=".Mardi"
            android:label="@string/title_activity_mardi" >
        </activity>
        <activity
            android:name=".Mercredi"
            android:label="@string/title_activity_mercredi" >
        </activity>
        <activity
            android:name=".Jeudi"
            android:label="@string/title_activity_jeudi" >
        </activity>
        <activity
            android:name=".Vendredi"
            android:label="@string/title_activity_vendredi" >
        </activity>
        <activity
            android:name=".Samedi"
            android:label="@string/title_activity_samedi" >
        </activity>
        <activity
            android:name=".Dimanche"
            android:label="@string/title_activity_dimanche" >
        </activity>
        <activity
            android:name=".Passion"
            android:label="@string/title_activity_passion" >
        </activity>
        <activity
            android:name=".AjoutCoach"
            android:label="@string/title_activity_ajout_coach" >
        </activity>
        <activity
            android:name=".ListAdmin"
            android:label="@string/title_activity_list_admin" >
        </activity>
    </application>

</manifest>
